@keyframes snow-fall {
  0% {
    transform: translateY(0);
    opacity: 1;
  }

  80% {
    opacity: 1;
  }

  90% {
    opacity: 0.6;
  }

  100% {
    transform: translateY(100vh);
    opacity: 0;
  }
}